.formTitle {
  color: var(--grey);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.formContainer {
  background-color: var(--white);
  color: var(--grey);

  display: flex;
  align-items: center;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 16px 14px;
}

.locationInput {
  border: none;
  padding: 0 8px;
  font-size: 14px;
  width: 100%;
}

.locationInput:focus {
  outline: none;
}

.checkBox {
  margin: 8px 0px;
}
